{% extends 'base.html' %}
{% block content %}
    
<div>
    <p>{{country.name}}</p>
    <hr>
    <p>Continent: {{country.continent.capitalize()}}</p>
    <form action="/countries/{{country.id}}/edit">
        <button class="button" type="submit">Edit Country
        </button>
    </form>
    <form action="/countries/{{country.id}}/delete">
        <button class="button" type="submit">Delete Country
        </button>
    </form>
    <p>List of Cities in {{country.name}} that you would like to visit:</p>
    {% for city in cities %}
        <p>{{city.name}}</p>
    {% endfor %}
</div>
<!-- <div>
    <form action="/cities/new">
    <button type="submit">
        Add another City
    </button>
    </form>
</div> -->
{% endblock content %}
