{% extends 'base.html' %}
{% block content %}
    
<div>
    <p>{{city.name}}</p>
    <hr>
    <p>Country: {{city.country.name}}</p>
    <p>Notes: {{city.notes}}</p>
    {% if city.visited == True %}
       <label for="">Visited?<i class="fa fa-check fa-2x" style="color:green" aria-hidden="true"></i></label>
        {% else %}
        <label for="">Visited?<i class="fa fa-times fa-2x" aria-hidden="true"></i></label>
        {% endif %}
</div>
<div>
    <p><a href="/cities/{{city.id}}/edit">Edit City</a></p>
    <p><a href="/cities/{{city.id}}/delete">Delete City</a></p>
</div>
<div>
    <p>List of Attractions in {{city.name}} that you would like to visit:</p>
    {% for attraction in attractions %}
        <p>{{attraction.name}}</p>
    {% endfor %}
</div>
{% endblock content %}