body{
    font-family: sans-serif;
    background-color: lightblue;
    
}

h1 {
    text-align: center;
    font-size: 42px;
    margin-top: 150px;
}


.index{
    padding-left: 36px;
    text-align: center;
}
.navbar {
    display: flex;
    flex-direction: column; 
    padding-top: 36px;
    padding-bottom: 10px;
}

.navbar > nav > ul > li {
    padding-right: 15px;
    padding-top: 10px;
    
}

.navbar > nav > ul > li > a {
    color: black;
    font-size: 24;
    font-weight: bold;
    text-decoration: none;
}

.navbar > nav > ul {
    list-style: none;
}

.navbar {
    background-image: url('/static/images/banner.jpeg');
    background-size: cover;
    width: 100%;
    height: 450px;
}

.button {
    color: white;
    border: 1px solid blue;
    background-color: blue;
    border-radius: 5px;
    margin: 10px;
}

.button_add_country {
    color: white;
    border: 1px solid blue;
    background-color: blue;
    border-radius: 5px;
    margin: 10px;
    padding-left: 36px;
}

input[type=text] {
    padding: 10px;
    margin: 10px 0;
    border: 0;
    border-radius:10px;
}

input[type=number] {
    padding: 10px;
    margin: 10px 0;
    border: 0;
    border-radius: 10px;
}

button[type=submit] {
    padding: 10px;
    display: inline-block;
}

select {
    padding: 10px;
    margin: 10px 0;
    border: 0;
    border-radius: 10px;
}

.index_buttons {
    display: flex;
    padding-left: 36px;

}

.edit_attraction-city_name{
    margin-top: 25px;
} */

.edit_attraction_button {
    margin-top: 25px;
}

.search {
    padding-left: 36px;
}

.countries_list{
    padding-left: 36px;
    display: flex;
    flex-flow: row wrap;
}
.countries_list > p {
    width: 25px;
    height: 50px;
    background-color: lightblue;
    border: solid 1px blanchedalmond;
    flex: 20%;
    flex-wrap: wrap;
  }

.cities_list {
    padding-left: 36px;
}

.attractions_list {
    padding-left: 36px;
}