{% extends 'base.html' %}
{% block content %}
    <div>
        <p>{{attraction.name}}</p>
        <hr>
        <p>Cost: {{attraction.cost}}</p>
        <p>City: {{attraction.city.name}}</p>
    </div>
    <form action="/attractions/{{attraction.id}}/edit">
        <button class="button" type="submit">Edit Attraction
        </button>
    </form>
    <form action="/attractions/{{attraction.id}}/delete">
        <button class="button" type="submit">Delete Attraction
        </button>
    </form>
{% endblock content %} 