<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>On Top Of The World</title>
</head>
<body>
<main>
    <nav>
        <ul class="navbar">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/countries">Countries</a>
            </li>
            <li>
                <a href="/cities">Cities</a>
            </li>
            <li>
                <a href="/attractions">Attractions</a>
            </li>
        </ul>
    </nav>
    <section id="content">
    {% block content %}

    {% endblock%}
    </section>
    </main>
</body>
</html>