<!DOCTYPE html>
<html>
<head>
    <title>On Top Of The World</title>
</head>
<body>
<main>
    <nav>
        <ul class="navbar">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/countries">Countries</a>
            </li>
            <li>
                <a href="/cities">Cities</a>
            </li>
            <li>
                <a href="/attractions">Attractions</a>
            </li>
        </ul>
    </nav>
    <section id="content">
    {% block content %}

    {% endblock%}
    </section>
    </main>
</body>
</html>