<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://kit.fontawesome.com/26a6ea0650.js" crossorigin="anonymous"></script>
    <title>On Top Of The World</i></title>
</head>
    
<body>
<main>
    <header class="navbar">
    <nav>
        <ul >
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/countries">Countries</a>
            </li>
            <li>
                <a href="/cities">Cities</a>
            </li>
            <li>
                <a href="/attractions">Attractions</a>
            </li>
        </ul>
    </nav>
    <h1>Your World</h1>
    </header>
    <section id="content">

       
    {% block content %}

    {% endblock%}
    </section>
    </main>
</body>
</html>