{% extends 'base.html'%}

{% block content %}
<Section class="index">


<p>Record your travel wishlist here!  <i class="fas fa-umbrella-beach" style="color: black"></i></p>
</Section>
<section class="index_buttons">
<form action="/cities/visited">
    <button class="button" type="submit">See where you have been!</button>
</form>
<br>

<form action="/cities/not_visited">
    <button class="button" type="submit">See where you want to go!
    </button>
</form>
</section>

<form action="/search" method="POST">
    <input type="search" name="search" id="search">
    <button type="submit">Search</button>
</form>



{% endblock %}