{% extends 'base.html'%}

{% block content %}
<Section class="index">
<h1>Your World</h1>

<p>Record your travel wishlist here!</p>
</Section>
<section class="index_buttons">
<form action="/cities/visited">
    <button class="button" type="submit">See where you have been!</button>
</form>
<br>

<form action="/cities/not_visited">
    <button class="button" type="submit">See where you want to go!
    </button>
</form>
</section>

<form class="search" action="/<search>">
    <input type="text" value="search">
    <button class="button" type="submit">Search</button>
</form>

{% endblock %}